@media (min-width: 820px) {
    div .nav-small {
        display: none;
    }
     div .detail-small {
        display: none;
    }
    div .small {
        display: none;
    }
    #small_menus{
        display: none;
    }
}

@media (max-width: 1000px) {
    div .line {
        width: 100%!important;
    }
    nav .nav-contant ul {
        width: 100%;
    }
    div .unit {
        width: 100%;
        height: 636px;
        padding-top: 70px;
        background-color: #fafafa;
        position: relative;
        margin-bottom: 15px;
    }
    div .unit h4 {
        padding-top: 60px;
        color: #BF4800;
        font-size: 16px;
        font-weight: 120;
    }
    div .unit h1 {
        font-size: 45px;
    }
    .unit h2 {
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        opacity: .95;
        font-family: 'pf';
    }
    .unit h5 {
        font-size: 15px;
        font-weight: 100;
        text-align: center;
        opacity: .9;
        margin-top: 5px;
        font-family: 'pf';
    }
    .unit div {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    div .unit div a {
        color: #3068D5;
        padding: 0 10px;
        text-align: center;
        font-size: 15px;
    }
    div .unit p {
        margin-top: 420px;
        font-size: 10px;
        opacity: 0.9;
    }
    div .macbook {
        background-image: url(../images/heroes/macbook-air/hero__dvsxv8smkkgi_largetall.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 700px;
        padding-top: 0px;
    }
    /* 排列处 */
    div .mores {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 500px);
        background-color: #fff;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        padding: 0 10px;
    }
    div .mores .more h1 {
        font-size: 30px;
        padding-top: 30px;
    }
    div .mores .more h2 {
        font-size: 18px;
        font-weight: 100;
    }
    div .mores .more h3 {
        font-size: 13px;
        margin-top: 6px;
        font-weight: 100;
        opacity: 0.7;
    }
    div .mores .more h6 {
        text-align: center;
        padding-top: 40px;
    }
    div .more h6 img {
        width: 140px;
    }
    div .mores .more div {
        width: 100%;
        margin-top: 6px;
        text-align: center;
    }
    div .mores .more div a {
        color: #3068D5;
        font-size: 14px;
        padding: 0 10px;
    }
    /* iphone11 */
    div .iphone {
        background-image: url(../img/tile__cauwwcyyn9hy_medium.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }
    /* cnoc */
    div .cnov {
        background-image: url(../img/tile__cauwwcyyn9hy_medium\ \(1\).jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }
    div.cnov h1 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    /* 手表 */
    div .watch {
        background-image: url(../img/tile_aws5__fwphji1d8yeu_medium.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }
    /* 耳机 */
    div .airpods {
        background-image: url(../img/tile__cauwwcyyn9hy_medium\ \(2\).jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }
    /* 音乐 */
    div .music {
        background-image: url(../img/apple_music__gdfamywhn6ye_medium.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }
    div .music h6 img {
        width: 122px;
    }
    div .watch-health {
        background-image: url(../img/tile__cauwwcyyn9hy_medium\ \(3\).jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }
    /* 详细信息 */
    .details .detail {
        width: 90%;
        padding: 20px;
    }
    .nav-small {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copyrignt {
        width: 90%!important;
    }
}

/* 小于820px */

@media (max-width: 820px) {
    /* 标题栏 */
    nav .nav-contant ul {
        display: none;
    }
    .nav-small {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-contant div {
        margin-top: -3px;
    }
    .nav-contant div img {
        width: 19px;
        margin-top: 3px;
    }
    .nav-contant div:nth-child(3) img {
        width: 19px;
        margin-right: 20px;
    }
    .nav-contant div .nav-line {
        width: 18px;
        height: 1px;
        background-color: #fff;
        margin: 7px 0;
        margin-left: 20px;
    }

    /* 展开主菜单 */
    /* 详细部分 */
    div .menus {
        display: none;
    }
    .detail-small {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        cursor: pointer;
    }
    .detail-small p {
        font-size: 14px;
    }
    #know_con ul li a, #serve_con ul li a, #account_con ul li a, #shop_con ul li a, #business_con ul li a, #edu_con ul li a, #value_con ul li a, #about_con ul li a {
        color: #969798;
        background-color: #fafafa;
        font-size: 10px;
        display: inline-block;
        padding: 5px 0px 5px 30px;
    }
}
/* 小于755px */
@media (max-width: 755px){
    div .unit {
        width: 100%;
        height: 536px;
        padding-top: 70px;
        background-color: #fafafa;
        position: relative;
        margin-bottom: 15px;
    }
    div .unit h4 {
        padding-top: 60px;
        color: #BF4800;
        font-size: 16px;
        font-weight: 120;
    }
    div .unit h1 {
        font-size: 30px;
    }
    div .unit h2 {
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        opacity: .95;
        font-family: 'pf';
    }
    div .unit h5 {
        font-size: 15px;
        font-weight: 100;
        text-align: center;
        opacity: .9;
        margin-top: 5px;
        font-family: 'pf';
    }
    div .unit p {
        margin-top: 305px;
        font-size: 10px;
        opacity: 0.9;
    }
    div .mores .more div a {
        color: #3068D5;
        font-size: 12px;
        padding: 0 10px;
    }
    div .ipad-pro {
        background-image: url(../img/hero__dvsxv8smkkgi_mediumtall.jpg);
        background-position: center 80%;
        background-size: 300px;
        background-repeat: no-repeat;
    }
    div .macbook {
        background-image: url(../img/macbook_medium.jpg);
        background-position: bottom;
        background-size: 300px;
        background-repeat: no-repeat;
        padding-top: 0px;
    }
    div .iphone11 {
        background-image: url(../img/hero__dvsxv8smkkgi_small.jpg);
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 15px;
        padding-top: 0;
    }
    div .airpods {
        background-image: url(../img/tile__cauwwcyyn9hy_small.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }
    /* 音乐 */
    div .music {
        background-image: url(../img/apple_music__gdfamywhn6ye_small.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }
    /* 更多处 */
    div .mores {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 536px);
        background-color: #fff;
        grid-column-gap: 15px;
        padding: 0px;
    }
    div .mores .more div a {
        color: #3068D5;
        font-size: 15px;
        padding: 0 10px;
    }
    div .music h6 img {
        width: 110px;
        padding-top: 40px;
    }
}
/* 小于650px */
@media (max-width: 650px){
    .copyrignt .copyrignt-contant {
        display: block!important;
    }
    .detail-small p {
        font-size: 10px;
    }
    #know_con ul li a, #serve_con ul li a, #account_con ul li a, #shop_con ul li a, #business_con ul li a, #edu_con ul li a, #value_con ul li a, #about_con ul li a {
        color: #969798;
        background-color: #fafafa;
        font-size: 10px;
        display: inline-block;
        padding: 5px 0px 5px 30px;
    }
}